body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#container
{
  margin:0 auto;
  max-width: 800px;
  text-align: center;
}
ul
{
  border:1px solid black;
  width: 200px;
  margin:10px auto;
}
li
{
  list-style: none;
  display: inline;
  margin-right:10px;
}
strong
{
  font-size:40px;
}
button
{
  background: #1a73e8;
  border:none;
  padding:5px 10px;
  color:white;
}